@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark text-slate-100 font-sans antialiased;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1e293b; 
}

::-webkit-scrollbar-thumb {
  background: #475569; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #64748b; 
}
